body {
	background-color: black;
	text-align: center;
}
h1, h3 {
	color: silver;
	font-family: Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
}	


p {
	font-family: Arial, sans-serif;
	color: silver;
}

a {
	font-style: italic;
	text-decoration: none;
	}